#!/usr/bin/make -f

%:
	dh $@ --with autoreconf --parallel

PROJ_LIBS=/opt/szn/libproj/lib/x86_64-linux-gnu

export LDFLAGS=-Wl,-rpath=$(PROJ_LIBS) -L$(PROJ_LIBS)
export CPPFLAGS=-I/opt/szn/libproj/include/

configure_flags += \
	--prefix=/opt/szn/gdal

override_dh_auto_configure:
	dh_auto_configure -- $(configure_flags)

override_dh_autoreconf:
	./autogen.sh

override_dh_auto_test:
	echo "Tests are disabled"

override_dh_auto_clean:
	git clean -xfd
