#!/usr/bin/make -f

%:
	dh $@ --with autoreconf --parallel

PROJ_LIBS=/opt/szn/libproj/lib/x86_64-linux-gnu

export LDFLAGS=-Wl,-rpath=$(PROJ_LIBS) -L$(PROJ_LIBS)
export CPPFLAGS=-I/opt/szn/libproj/include/

configure_flags += \
	--prefix=/opt/szn/gdal \
	--with-hide-internal-symbols=yes \
	--with-rename-internal-libtiff-symbols=yes \
	--with-rename-internal-libgeotiff-symbols=yes \
	--with-threads \
	--with-armadillo=yes \
	--with-cfitsio=no \
	--with-charls \
	--with-curl \
	--with-ecw=no \
	--with-epsilon=/usr \
	--with-freexl=yes \
	--with-geos \
	--with-geotiff=yes \
	--with-grass=no \
	--with-libjson-c=internal \
	--with-libkml=yes \
	--with-liblzma=yes \
	--with-libtiff=yes \
	--with-mrsid=no \
	--with-mysql \
	--with-netcdf \
	--with-odbc \
	--with-ogdi \
	--with-openjpeg=yes \
	--with-pg \
	--with-poppler=yes \
	--with-proj=yes \
	--with-qhull=yes \
	--with-sosi=yes \
	--with-spatialite=/usr \
	--with-sqlite3 \
	--with-webp \
	--with-xerces \
	--with-zstd

override_dh_auto_configure:
	dh_auto_configure -- $(configure_flags)

override_dh_autoreconf:
	./autogen.sh

override_dh_auto_test:
	echo "Tests are disabled"

override_dh_auto_clean:
	git clean -xfd
